/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.c-c-name {
    font-family: 'Lobster', cursive;
}
.btn-booking {
    background-color: #ebc7de;
    color: #3F87F5;
}