/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.c-c-name {
    font-family: 'Lobster', cursive;
}
.btn-booking {
    background-color: #f5ddec;
    color: #3F87F5;
    font-weight: 600;
}
.package .package-heading {
    margin-top: 3rem;
    margin-bottom: 12rem;
}
.package-card-mb {
    margin-bottom: 11rem;
}
.best-deal {
    bottom: 6rem;
    background-color: #3F87F5;
    border-radius: 2rem;
    box-shadow: 6px 7px 10px 4px #759fe0;
    transition: 0.2s;
}
.best-deal:hover {
    box-shadow: -12px -14px 10px 8px #759fe0;
}.best-deal div a button {
    background-color: #fff;
}